Repository eigr/spawn, pull requests merged in 2023-04, with the labels that each got.

#161 Add volumeMount option to actor host
  Dockerfile-operator
  mix.lock
  priv/internal_versions.exs
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/deployment.ex
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/service.ex
  spawn_operator/spawn_operator/lib/spawn_operator/k8s_conn.ex
  spawn_operator/spawn_operator/test/resources/actorhost/deployment_test.exs
  spawn_operator/spawn_operator/test/support/factory.ex
Labels: enhancement, proxy, operator

#177 Fix. This fixes #151 Error on invoke init functions when state is null
  lib/actors/actor/entity/invocation.ex
  lib/actors/actor/entity/lifecycle.ex
  spawn_sdk/spawn_sdk/lib/system/spawn_system.ex
  spawn_sdk/spawn_sdk_example/lib/spawn_sdk_example/actors/joe_actor.ex
Labels: bug, proxy

#178 Added support to pod anti affinity
  Makefile
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/deployment.ex
  spawn_operator/spawn_operator/test/resources/actorhost/deployment_test.exs
Labels: enhancement, proxy, operator

#185 Fix state handoff syncing
  lib/actors/config/vapor_config.ex
  lib/actors/supervisors/actor_supervisor.ex
  lib/spawn/cluster/state_handoff.ex
  lib/spawn/cluster/state_handoff_supervisor.ex
  lib/spawn/supervisor.ex
  spawn_operator/spawn_operator/lib/spawn_operator.ex
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/configmap/sidecar_configmap.ex
Labels: enhancement, proxy, operator

#186 Change/remove proxy limits
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/deployment.ex
  spawn_operator/spawn_operator/lib/spawn_operator/k8s/proxy/hpa.ex
  spawn_operator/spawn_operator/test/resources/actorhost/deployment_test.exs
Labels: enhancement, operator
